.coursewrapper .course {
    padding: 0.5rem;
    border-bottom: solid 1px grey;
}
.course a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;

}
.course a:hover {
    background-color: #f0f0f0;
}
.single-cfcourse h2 {
    background-color: #e5e8e5;
    padding: 0.5rem;
    margin: 2rem 0;
}
.single-cfcourse .site-content .content-area {
    width: 100%;
}
.single-cfcourse .site-content .content-area .site-main{
    margin-right: 0;
}
.videowrapper {
    display: grid;
    grid-template-columns: 1fr;
}
.videowrapper .embed-container {
    text-align: center;
    margin-bottom: 2rem;
}
#loginform {
    margin-top: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
}
p.login-username, 
p.login-password
 {
    display: grid;
    grid-template-columns: 1fr;

}
p.login-username label, 
p.login-password label {
    text-align: left;
    margin-right: 1rem;
    align-self: center;
}
p.login-remember,
p.login-submit {
    display: grid;

}

.download {
    background-color: #e5e8e5;
    padding: 0.5rem;
    vertical-align: middle;
}

.page-header {
    margin-bottom: 20px;
}
/* columns */
.page-template-archive-cfcourse .generate-columns {
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%;

}


.page-template-archive-cfcourse .generate-columns-container {
    margin-left: -20px;
}
.page-template-archive-cfcourse .generate-columns-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.page-template-archive-cfcourse .generate-columns-container .page-header, 
.page-template-archive-cfcourse .generate-columns-container .paging-navigation {
    flex: 1 1 100%;
    clear: both;
}

.page-template-archive-cfcourse.generate-columns.grid-50, 
.page-template-archive-cfcourse .grid-sizer.grid-50 {
    width: 50%;
}
.inside-article {
    padding: 1rem;
}
.inside-article .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
}
.inside-article .post-image {
    margin-top: 0.4rem;
    padding: 0 1rem 0 1rem;
}
 .inside-article .post-image a {
     display: block; 
     background-size: cover;
     background-position: center center;
     border-radius: 7px;
     margin-bottom: 1rem;
     width: 100%;
     min-width: 200px;
     height: 200px;
} 
.inside-article .post-image a img {
    visibility: hidden;
}


.inside-article .inner-wrapper .entry-summary {
    margin-top: 0;
    padding: 0 1rem;
}
.readmore {
    background-color: #ec7032;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 200px;
    margin: 0 auto;
}
.readmore a {
    color: white;
    padding: 1rem;
}
.entry-title .week {
    font-size: 0.8rem;
}
h1 {
    text-align: center;
}
.entry-header {
    padding-left: 1rem;
}
.notloggedin {
    flex: 1 1 100%;
    margin: 0 auto;
    text-align: center;
    color: red;
}
.lostpassword {
    flex: 1 1 100%;
    clear: both;
    text-align: center;
}
@media (min-width: 768px) {
    .videowrapper.two {
        grid-template-columns: 1fr 1fr;   
    }
    .videowrapper.three {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .embed-container {
        text-align: center;
    }
    .inside-article .inner-wrapper {
        grid-template-columns: 220px 1fr;
    }
    .readmore {
        margin-left: 0;
    }
}